/* CSS Document */
/* Objective 7: All CSS styles should be created in the css\style.css file included in the project. */
body{
background-color: #c4c4c4;
}

.row{
display: grid;
grid-template-columns: 10% 90%;
}

.nav{
font-family: "Arial";
font-size: 13px;
padding: 1em;
padding-bottom: 2em;
}

#menu{
display: grid;
font-family: "Arial";
font-size: 13px;
background: gray;
padding: 1em;
border: 1px solid black;	
}

.container > div{
font-family: "Arial";
font-size: 13px;
background: #eee;
padding: 1em;
border: 1px solid black;
}

.container > div:nth-child(odd){
background: #ddd;
}

#main{
display: grid;
}

.date, .send, .subject{
padding: 1px;
}

.body{
padding: 1px;
padding-top: 1em;
}
